@import "../../styles/core";

.container {
  @include main;
  margin-bottom: 5%;
  .wraper {
    margin-top: 2%;
    width: 60%;
    @include directionY;
    @include content-center;
    align-items: center;
    @include apply-at-sm-size {
      margin-top: 220px;
    }
    .form {
      @include content-center;
      height: 50px;
      width: 50%;
      form {
        input {
          // @include main;
          height: 24px;
          margin-right: 10px;
          border-radius: 6px;
        }
        button {
          cursor: pointer;
          background-color: $color-dark-blue;
          color: $color-white;
          @include main;
          width: 80px;
          height: 28px;
          border-radius: 6px;
        }
      }
    }
    button {
      background-color: rgb(255, 255, 255);
      border: 2px solid black;
      color: black;
      font-weight: bold;
      padding-inline: 20px;
      margin-top: 20px;
    }
    button:hover {
      background-color: black;
      color: white;
    }
    .content {
      // border: 1px solid red;
      // margin-top: -40px;
      @include directionX;
      background-color: rgb(233, 231, 231);
      padding: 15px;
      border-radius: 10px;
      justify-content: center;
      align-items: center;
      width: 700px;
      height: 400px;
      @include apply-at-sm-size {
        width: 300px;
        height: 300px;
        position: relative;
        align-items: flex-end;
        padding-bottom: 40px;
      }
      .card {
        width: 50%;
        text-align: center;
        @include apply-at-sm-size {
          position: absolute;
          top: -200px;
          right: 125px;
        }
        img {
          width: 300px;
          height: 300px;
          // height: 200px;
          @include apply-at-sm-size {
            // background-color: cadetblue;
            height: 250px;
            width: 250px;
          }
        }
      }
      .detail_inform {
        // background-color: cadetblue;
        width: 40%;
        @include apply-at-sm-size {
          width: 100%;
        }
        .inform {
          div {
            // margin: 2px 0px;
            span {
              font-size: 14px;
            }
            // margin-top: 15px;
            // background-color: cadetblue;
          }
        }
      }
      .info {
        @include directionY;
        justify-content: center;
        width: 50%;
        text-align: left;
        @include main;
        font-size: 20px;
      }
    }
  }
}
