@import "../../styles/core";

.card {
  background-color: rgb(61, 61, 61);
  padding: 10px;
  color: white;
  margin-bottom: 12px;
  text-align: center;
  cursor: pointer;
  @include apply-at-sm-size {
    width: 130px;
  }
  .num {
    text-align: end;
    margin-bottom: 5px;
  }
  img {
    width: 180px;
    height: 180px;
    @include apply-at-sm-size {
      height: 100px;
      width: 100px;
    }
  }
  p {
    font-size: 30px;
    margin-bottom: 14px;
    @include apply-at-sm-size {
      font-size: 20px;
    }
  }
}
